<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Montserrat:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'app/css/style.css'%}">
</head>
<body>
    <div class='form__block'>
        <form action="" method="post" class='form'>
            {% csrf_token %}
            
            <h1>Вход</h1>

            <h2 class='subtitle'>Войдите в учетную запись </h2>
            
            <table>
                {{form}}
            </table>

                <button class='send__btn' type="submit">Вход</button>

        </form>
    </div>

</body>
</html>